@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@100&family=Roboto:wght@400;700&display=swap');
@import './partials/variables.scss';

/* ------------------------
RESET
------------------------ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ------------------------
GLOBALS
------------------------ */
.orange-button{
    background-color: $yellow-orange;
    text-transform: uppercase!important;
    font-size: 13px!important;
    padding: 13px;
}

.text-orange{
    color: $yellow-orange!important;
}

/* ------------------------
CONTAINERS
------------------------ */

/* ------------------------
TYPO
------------------------ */
body{
    font-family: 'Roboto', sans-serif;
}
