@import '~bootstrap/scss/bootstrap.scss';
@import './partials/variables.scss';

/* ------------------------
RESET
------------------------ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    scroll-snap-type: both mandatory;
}

/* ------------------------
GLOBALS
------------------------ */
.orange-button{
    background-color: $yellow-orange;
    text-transform: uppercase!important;
    font-size: 13px!important;
    padding: 13px 25px!important;
    color: white;
}

.blue-button{
    background-color: $science-blue;
    text-transform: uppercase!important;
    font-size: 13px!important;
    padding: 13px 25px!important;
}

.text-orange{
    color: $yellow-orange!important;
}

/* ------------------------
CONTAINERS
------------------------ */
.my-container{
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

/* ------------------------
TYPO
------------------------ */

