// color cube
$alabaster: #f8f8f8;
$deep-cove: #051745;
$daisy-blush: #351ba2;
$scorpion: #5d5c5d;
$purple-heart: #8532e6;
$pale-slate: #bcbbbc;
$yellow-orange: #ffa837;
$science-blue: #0369d7;
$jade: #02ca6b;
$java: #19d5e3;

// median cut
$lucky-point: #1a236c;
$concrete: #f3f3f3;
$victoria: #5b4792;
$regent-gray: #818e9d;
$di-serria: #dd9f4d;

// material design
$purple-heart-vibrant: #5926c0;
$scorpion-muted: #5a5759;
$jacksons-purple-darkivibrant: #2a1999;
$millbrook-darkmuted: #594035;
$tulip-tree-lightvibrant: #eca447;
